@import "../../../foundations/sass/all";

.card {
  color: $primary-color;
  width: px-to-rem(180);
  height: px-to-rem(180);
  border-radius: $br-md;
  background-color: $white-floral;
  @include center;
  flex-direction: column;

  transition: all 0.3s ease;
  text-align: center;

  &:hover {
    background-color: $primary-color;
    color: $white-floral;
  }

  &__box {
    @include center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__img {
      width: px-to-rem(108.3);
      height: px-to-rem(86);
      border-radius: $br-sm;
      @include margin-bottom(sm);
    }

    &__title {
      font-size: $fs-xl;
      font-weight: $fw-normal;
      line-height: px-to-rem(29.3);
    }
  }
}
