@import "../../../foundations/sass/all";

.card {
  border-radius: $br-md;
  color: $special-meal-card-text-color;
  height: px-to-rem(180);
  text-align: center;
  transition: all 300ms ease;
  width: px-to-rem(180);

  &:hover {
    background-color: $special-meal-card-text-color;
    color: $special-meal-card-text-color-hover;
  }

  &__box {
    @include center;

    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    &__img {
      border-radius: $br-sm;
      height: px-to-rem(86);
      width: px-to-rem(108.3);

      @include margin-bottom(sm);
    }

    &__title {
      font-size: $fs-xl;
      font-weight: $fw-normal;
      line-height: px-to-rem(29.3);
    }
  }
}
