@use "sass:map";
@import "../../../foundations/sass/all";

.rich-and-healthy {
  color: $rich-and-healthy-color;
  margin: 16px;

  &__image-1 {
    border-radius: $br-md;
    height: 100%;
    width: 50%;

    @include laptop {
      height: px-to-rem(600);
      width: px-to-rem(361);
    }
  }

  &__subheading {
    font-size: $fs-md;
    font-weight: $fw-semibold;
    text-align: center;

    @include laptop {
      font-size: $fs-lg;
      font-weight: $fw-bold;
    }

    @include margin-bottom("sm");
  }

  &__inner-box {
    display: flex;
    gap: 10px;

    @include laptop {
      gap: map.get($spacing, "lg");
    }
  }

  &__heading {
    color: $rich-and-healthy-heading-color;
    font-size: $fs-lg;
    font-weight: $fw-semibold;
    margin-bottom: 10px;
    max-width: px-to-rem(510);

    @include laptop {
      font-size: $fs-xxl;
      font-weight: $fw-bold;

      @include margin-bottom("lg");
    }
  }

  &__text {
    font-size: $fs-sm;

    @include laptop {
      font-size: $fs-xl;
      line-height: 1.4;
      max-width: px-to-rem(750);
    }

    @include margin-bottom("xs");
  }

  &__feature-and-contact {
    display: flex;
    gap: 1px;

    @include laptop {
      gap: map.get($spacing, "sm");
    }
  }

  &__features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include laptop {
      gap: 109px;

      @include padding-vertical("lg");
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include laptop {
      gap: map.get($spacing, "lg");
    }
  }

  &__feature-item {
    display: flex;
    gap: map.get($spacing, "xxs");

    &__text {
      font-size: $fs-md;

      @include laptop {
        font-size: $fs-xl;
      }
    }
  }

  &__link-wrapper {
    text-align: center;
  }

  &__image-2 {
    display: none;

    @include laptop {
      display: block;
    }
  }

  &__link:link,
  &__link:visited {
    background-color: $rich-and-healthy-link-bg;
    border-radius: $br-md;
    color: $rich-and-healthy-link-color;
    font-size: $fs-lg;
    padding: 8px 12px;
    text-decoration: none;
    text-transform: uppercase;

    @include laptop {
      @include padding-horizontal(xl);
      @include padding-vertical(xs);

      font-size: $fs-xxl;
      font-weight: $fw-bold;
    }

    &:hover,
    &:active {
      background-color: $header-bottom-link-shade-color;
    }
  }
}
