@use "sass:map";
@import "../../../foundations/sass/all";

.rich-and-healthy {
  color: $rich-and-healthy-color;

  &__image-1 {
    border-radius: $br-md;
    height: px-to-rem(600);
    width: px-to-rem(361);
  }

  &__image-2 {
    width: 50%; // Full width for mobile screens
    height: 20%;// Maintain aspect ratio
  }

  &__subheading {
    font-size: $fs-lg;
    font-weight: $fw-bold;
    text-align: center;

    @include margin-bottom("sm");
  }

  &__inner-box {
    display: flex;
    gap: map.get($spacing, "lg");
  }

  &__heading {
    color: $rich-and-healthy-heading-color;
    font-size: $fs-xxl;
    font-weight: $fw-bold;
    max-width: px-to-rem(510);

    @include margin-bottom("lg");
  }

  &__text {
    font-size: $fs-xl;
    line-height: 1.4;
    max-width: px-to-rem(750);

    @include margin-bottom("xs");
  }

  &__feature-and-contact {
    display: flex;
    gap: map.get($spacing, "sm");
  }

  &__features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 109px;

    @include padding-vertical("lg");
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, "lg");
  }

  &__feature-item {
    display: flex;
    gap: map.get($spacing, "xxs");

    &__text {
      font-size: $fs-xl;
    }
  }

  &__link-wrapper {
    text-align: center;
  }

  &__link:link,
  &__link:visited {
    background-color: $rich-and-healthy-link-bg;
    border-radius: $br-md;
    color: $rich-and-healthy-link-color;
    font-size: $fs-xxl;
    font-weight: $fw-bold;
    text-decoration: none;
    text-transform: uppercase;

    @include padding-horizontal(xl);
    @include padding-vertical(xs);

    &:hover,
    &:active {
      background-color: $header-bottom-link-shade-color;
    }
  }
  
  @media all and (max-width: 1024px) {
    &__image-1 {
      width: 30%; // Full width for mobile screens
      height: 30%; // Maintain aspect ratio
    }

    &__image-2 {
      width: 20%; // Full width for mobile screens
      height: 70%;// Maintain aspect ratio
    }
  }

  @media all and (max-width: 768px) {
    .rich-and-healthy {
      &__inner-box {
        flex-direction: column; // Stack the inner box on smaller screens
      }
  
      &__image-1 {
        width: 100%; // Full width for mobile screens
        height: auto; // Maintain aspect ratio
      }
  
      &__image-2 {
        width: 20%; // Full width for mobile screens
        height: 70%;// Maintain aspect ratio
      }
  
      &__heading {
        font-size: $fs-xl; // Adjust font size for smaller screens
      }
  
      &__text {
        font-size: $fs-lg; // Adjust font size for smaller screens
      }
  
      &__link:link,
      &__link:visited {
        font-size: $fs-lg; // Adjust link size
      }
    }
  }
  
  @media all and (max-width: 480px) {
    .rich-and-healthy {
      &__subheading {
        font-size: $fs-md; // Smaller font size for better readability
      }
  
      &__feature-item {
        align-items: center; // Center align the items
        flex-direction: column; // Stack items vertically
        
      }
  
      &__link:link,
      &__link:visited {
        @include padding-horizontal(lg); // Adjust padding for mobile
        @include padding-vertical(sm); // Adjust padding for mobile
      }

      &__image-2 {
        height: 70%; // Maintain aspect ratio
        width: 20%; // Full width for mobile screens
        

      }
    }
  }
}
