@import "../../../foundations/sass/all";

.feature {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  background-color: $white-floral;
  padding: map-get($spacing, sm) map-get($spacing, md);
  position: relative;

  &__image-box {
    position: relative;
    @include center;
    margin-bottom: px-to-rem(40);

    &__image {
      width: px-to-rem(80);
      z-index: 10;
    }

    div {
      position: absolute;
      transform: translate(70%, -8.5%);
      @include center;
      width: px-to-rem(100);
      height: px-to-rem(100);
      background-color: $primary-color;
      border-radius: 50%;
    }
  }

  &__title {
    text-align: center;
    font-size: $fs-lg;
    font-weight: $fw-bold;
    margin-bottom: px-to-rem(20);
  }

  &__description {
    font-size: $fs-md;
    line-height: 1.2;
    margin-bottom: px-to-rem(51);
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
