@use "sass:map";
@import "../../../foundations/sass/all";

.swiper {
  $this: &;

  position: relative;

  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    &--disabled {
      #{$this}__btn-icon {
        filter: grayscale(100%);
        opacity: 0.8;
      }
    }
  }

  &__left-arrow-btn {
    left: map.get($spacing, "xxxs");
  }

  &__right-arrow-btn {
    right: map.get($spacing, "xxxs");
  }
}
