@import "../../../foundations/sass/all";

.swiper{
    box-sizing: border-box;
    height: fit-content;
    min-height: px-to-rem(345);
    padding: px-to-rem(10);
    text-align: center;
    width: px-to-rem(1166);

    & > div:last-of-type {
        margin-left: auto;
        right: 0;
        width: fit-content;

        & > span{
            border: 2px solid $primary-color;

            &.swiper-pagination-bullet-active{
                background: $primary-color;
            }
        }
    }
}