@import "../../../foundations/sass/all";

.social-media-bar {
  @include center;

  &--small {
    gap: 20px;
  }

  &--medium {
    gap: 40px;
  }

  &--large {
    gap: 50px;
  }
  
  @media (max-width: 480px) {
    gap: 20px;

    &--small {
      gap: 10px;
    }

    &--medium {
      gap: 15px;
    }

    &--large {
      gap: 25px;
    }
  }
}
