@import "../../../foundations/sass/all";

.copyright-info {
  background-color: $secondary-color;
  color: $white-floral;
  font-size: $fs-lg;
  font-weight: $fw-bold;
  height: 100px;

  @include center;
}
