@import "../../../foundations/sass/all";

.ourstory-card {
  border-radius: $br-sm;
  display: flex;
  gap: px-to-rem(20);
  overflow: hidden;
  padding: px-to-rem(20);
  transition: all 300ms ease;

  &--primary {
    border: 2px solid $ourstory-card-border-color;
  }

  &--secondary {
    flex-direction: row-reverse;
  }

  &__image {
    border-radius: $br-sm;
    object-fit: cover;
    overflow: hidden;
    position: relative;
  }

  &__image,
  &__info {
    flex: 1;
  }

  &__info {
    color: $ourstory-card-color;
    gap: px-to-rem(10);

    &__story {
      font-size: $fs-md;
      margin: $spacing-sm;
    }
  }

  @media all and (max-width: 768px) {
    .ourstory-card {
      flex-direction: column; // Stack the image and info on smaller screens
  
      &__image {
        width: 100%; // Full width on smaller screens
        height: auto; // Maintain aspect ratio
      }
  
      &__info {
        margin-top: $spacing-sm; // Add margin between image and info
      }
    }
  }
  
  @media all and (max-width: 480px) {
    .ourstory-card {
      padding: px-to-rem(10); // Reduce padding on small screens
  
      &__info {
        &__story {
          font-size: $fs-sm; // Smaller font size for better readability
        }
      }
    }
  }
}
