@use "sass:map";
@import "../../../foundations/sass/all";

.service-card {
  @include center;

  flex-direction: column;
  font-family: $playfair;
  gap: 15px;

  &__title {
    color: $special-service-heading-color;
    font-size: $fs-xxl;
    font-weight: $fw-bold;

    @include center;
   @include margin-bottom($spacing);
  }

  &__description {
    color: $special-service-description-color;
    font-size: $fs-md;
    
  }
}