@import "../../../foundations/sass/all";

.contact-card {
  align-items: center;
  background-color: $white-floral; // Add a background color to match your theme
  border-radius: $br-sm; // Reuse border-radius variable for consistency
  color: $secondary-color;
  display: flex;
  font-family: Roboto,sans-serif;
  height: px-to-rem(41);
  justify-content: space-between;
  overflow: hidden;
  padding: px-to-rem(10);
  transition: all 300ms ease; // Add transition for smooth interaction
  width: fit-content;

  .contact-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    
    .title {
      font-size: $fs-md; 
      font-weight: $fw-bold; 
      padding: px-to-rem(2); 
    }

    .tel {
      font-size: $fs-sm; 
      font-weight: $fw-normal; 
      padding: px-to-rem(2); 
    }
  }

  .food-image {
    border-radius: $br-sm;
    height: px-to-rem(35);
    padding: px-to-rem(2);
    width: px-to-rem(35);
  }
}
