@import "../../../foundations/sass/all";

.delivery-card{
  align-items: center;
  border-radius: $br-sm; 
  color: $delivery-order-card-color;
  display: flex;
  font-family: Roboto,sans-serif;
  height: px-to-rem(41);
  justify-content: space-between;
  overflow: hidden;
  padding: px-to-rem(10);
  transition: all 300ms ease;
  width: fit-content;

  &__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    
    &__title {
      font-size: $fs-md; 
      font-weight: $fw-bold; 
      padding: px-to-rem(2); 
    }

    &__tel{
      font-size: $fs-sm; 
      font-weight: $fw-normal; 
      padding: px-to-rem(2); 
    }
  }

  &__image {
    border-radius: $br-sm;
    height: px-to-rem(35);
    padding: px-to-rem(2);
    width: px-to-rem(35);
  }
}
