@use "sass:map";
@import "../../../foundations/sass/all";

.info-card {
  align-items: center;
  display: flex;
  gap: 15px;

  &__icon {
    @include center;

    &__box {
      @include center;
    }
  }

  &__title {
    color: $info-card-color;
    font-size: $fs-xs;
  }
}
