/* =============================================
=            Foundation - colors              =
============================================= */

/**
 * This file defines the actual colors that will be used for styling. They will default to the palette
 * we defined in the _variable.scss file. This is our default palette, and devs can override this
 * with their own variables.
 */

/* =============================================
=            Global text colors               =
============================================= */
// $body-text-color: var(--body-text-color, $dark) !default;
// $body-bg-color: var(--body-bg-color, $white) !default;

/* =============================================
=                 Buttons                     =
============================================= */
$btn-primary-color: var(--btn-primary-color, $white-floral) !default;
$btn-primary-bg: var(--btn-primary-bg, $primary-color) !default;

/* =============================================
=                 Navbar                      =
============================================= */

$navbar-color: var(--navbar-color,$secondary-color) !default;

/* =============================================
=                 DeliveryOrderCard                      =
============================================= */

$delivery-order-card-color: var(--delivery-order-card-color, $secondary-color) !default;

/* =============================================
=                 InfoCard                  =
============================================= */
$info-card-color: var(--info-card-text-color, $white-floral);

/* =============================================
=                 MenuItem                     =
============================================= */

$menu-item-primary-color: var(--menu-item-primary-color, $primary-color);
$menu-item-text-color: var(--menu-item-text-color, $secondary-color);

/* =============================================
=                 BasketButton                 =
============================================= */

$basket-button-bg: var(--basket-button-bg, $secondary-color);
$basket-button-text-color: var(--basket-button-text-color, $white-floral);

/* =============================================
=                 SpecialMealCard              =
============================================= */
$special-meal-card-color: var(--special-meal-card-color, $primary-color);
$special-meal-card-color-hover: var(
    --special-meal-card-color-hover,
    $white-floral
);

/* =============================================
=                 BranchCard              =
============================================= */
$branch-card-color: var(--branch-card-color, $white-floral) !default;
$branch-card-location-color: var(--branch-card-location-color, $green-neon) !default;

/* =============================================
=                 MemberCard              =
============================================= */
$member-card-color: var(--member-card-color, $primary-color) !default;
$member-card-border-color: var(--member-card-border-color, $primary-color) !default;
