@use "sass:map";
@import "../../../foundations/sass/all";

.menu-item {
  display: flex;
  gap: map.get($spacing, "xs");
  justify-content: space-between;

  &__info-box {
    border-bottom: 3px dashed $menu-item-primary-color;
    flex-basis: 100%;

    &__title {
      color: $menu-item-primary-color;
      font-size: $fs-xl;
      font-weight: $fw-normal;
      margin-bottom: map.get($spacing, "xxs");
    }

    &__ingredients {
      color: $menu-item-text-color;
      font-size: $fs-md;
      font-weight: $fw-normal;
      margin-bottom: map.get($spacing, "xs");
    }
  }

  &__price-box {
    align-self: flex-end;
    font-size: $fs-lg;
    font-weight: $fw-bold;

    span {
      color: $menu-item-primary-color;
      position: relative;
      top: map.get($spacing, "xxxs");
    }
  }
}
