@use "sass:map";
@import "../../../foundations/sass/all";

.menu-item {
  * {
    padding: 0;
    margin: 0;
  }

  display: flex;
  justify-content: space-between;
  gap: map.get($spacing, "xs");

  &__info-box {
    border-bottom: 3px dashed $menu-item-primary-color;
    flex-basis: 100%;

    &__title {
      font-size: $fs-xl;
      font-weight: $fw-normal;
      color: $menu-item-primary-color;
      margin-bottom: map.get($spacing, "xxs");
    }
    &__ingredients {
      font-size: $fs-md;
      font-weight: $fw-normal;
      color: $menu-item-text-color;
      margin-bottom: map.get($spacing, "xs");
    }
  }

  &__price-box {
    align-self: flex-end;
    font-size: $fs-lg;
    font-weight: $fw-bold;
    span {
      color: $menu-item-primary-color;
      position: relative;
      top: map.get($spacing, "xxxs");
    }
  }
}
