@import '../../../foundations/sass/all';
.items-page{
    & h3{
          @include secondary-heading;
          color: $secondary-color;
          line-height: 41.02px;
          margin: px-to-rem(15) 0;
          padding: px-to-rem(15);
          text-align: center;
      }
  }