@import '../../../foundations/sass/all';

.items-page{
    & h3{
        @include secondary-heading;

        color: $secondary-color;
        line-height: 41.02px;
        padding: px-to-rem(10);
        text-align: center;
    }
}