@import "../../../foundations/sass/all";

.button {
  color: $btn-primary-color;
  background-color: $btn-primary-bg;
  border-radius: $br-md;
  font-size: $fs-xl;
  border: none;
  @include center;
  cursor: pointer;

  &--small {
    height: 35px;
    min-width: 90px;
    border-radius: $br-sm;
    font-size: $fs-sm;
    font-weight: $fw-bold;
  }

  &--medium {
    height: 60px;
    min-width: 300px;
    border-radius: $br-md;
  }

  &--large {
    height: 120px;
    min-width: 120px;
    font-size: $fs-xxl;
    border-radius: $br-md;
  }
}
