@import "../../../foundations/sass/all";

.button {
  background-color: $btn-primary-bg;
  border: none;
  border-radius: $br-md;
  color: $btn-primary-color;
  cursor: pointer;
  font-size: $fs-xl;

  @include center;

  &--small {
    border-radius: $br-sm;
    font-size: $fs-sm;
    font-weight: $fw-bold;
    height: 35px;
    min-width: 90px;
  }

  &--medium {
    border-radius: $br-md;
    height: 60px;
    min-width: 300px;
  }

  &--large {
    border-radius: $br-md;
    font-size: $fs-xxl;
    height: 120px;
    min-width: 120px;
  }
}
