@use "sass:map";
@import "../../../foundations/sass/all";

.highlight-card {
  background-color: $highlight-card-bg;
  color: $highlight-card-color;
  height: px-to-rem(376);
  max-width: px-to-rem(408);
  padding: map.get($spacing, "sm");
  position: relative;

  &__image-box {
    @include center;

    margin-top: map.get($spacing, "md");
    position: relative;
    z-index: 1;

    @include margin-bottom(xl);

    &::after {
      background-color: $highlight-card-color;
      border-radius: $br-full;
      color: $highlight-card-bg;
      content: "2";
      display: block;
      font-size: $fs-xxl;
      font-weight: $fw-bold;
      height: px-to-rem(100);
      position: absolute;
      transform: translate(75%, -10%);
      width: px-to-rem(100);
      z-index: -1;

      @include center;
    }
  }

  &__title {
    font-size: $fs-lg;
    font-weight: $fw-bold;
    text-align: center;

    @include margin-bottom(lg);
  }

  &__description {
    font-size: $fs-md;
    font-weight: $fw-normal;
    line-height: 1.2;

    @include padding-horizontal(xs);
  }

  &__link {
    border-radius: $br-sm;
    bottom: map.get($spacing, md);
    font-size: $fs-xl;
    position: absolute;
    right: map.get($spacing, xl);
    text-decoration: none;

    // transition: all 0.3s;
    transition: all #{0.3}s;

    @include padding-horizontal(md);
    @include padding-vertical(xs);

    &:link,
    &:visited {
      background-color: $highlight-card-color;
      color: $highlight-card-bg;
    }

    &:hover,
    &:active {
      background-color: $highlight-card-link-tint;
    }
  }
}
